#container {
  width: 1366px;
  height: 768px;
  background: #f9f9fc;
  margin: 0 auto;
  font-family: "Lexend Deca", sans-serif;
}

hr {
  width: 1366px;
  height: 2px;
  left: 0px;
  top: 82px;
}

#firstdiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px 25px;
}

.zdj {
  width: 83px;
  height: 42px;
  left: 53px;
  top: 20px;
}

.magnifier {
  display: flex;
  width: 27px;
  border: 1px solid;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  height: 27px;
  position: relative;
  left: 90px;
  background-color: white;
}

.inputsearch {
  display: flex;
  border: 1px solid;
  height: 35px;
  width: 300px;
  border-radius: 10px;
  align-items: center;
  color: rgb(128 128 128);
}

.inputsearch > input {
  border: none;
  margin-left: 10px;
}

.buttons > button {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;

  position: relative;
  width: 130px;
  height: 40px;
  /* left: 1019px;
  top: 21px; */

  background: #490df4;
  color: #f9f9fc;

  border: 2px solid #222426;
  border-radius: 10px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search > input {
  width: 300px;
  height: 25px;
}

.search > img {
  border: 1px solid;
  border-radius: 6px;
  width: 25px;
  height: 22px;
}

.menu > a {
  color: #000;
  text-decoration: none;
  margin-left: 25px;
}

.buttons {
  display: flex;
}

.buttons > button {
  display: inline-block;
  margin: 2px 10px;
}

.select {
  border: 2px solid #222426;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  text-align: center;
  display: inline-block;
  margin: 2px 10px;
  font-weight: 700;
}

.seconddiv {
  position: relative;
  display: flex;
  width: 1250px;
  height: 78px;
  left: 53px;
  top: 4px;
  background: #222426;
  border-radius: 10px;
}

#filters {
  display: flex;
  align-items: center;
  z-index: 1;
}

.checkbox {
  display: none;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  color: white;
  margin-left: 18px;
}

.categories > label {
  display: flex;
  align-items: center;
}

.noun {
  margin-right: 5px;
}

.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 90px;
  color: white;
  margin-left: 18px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

.seniority {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  height: 40px;
  width: 130px;
  color: white;
  margin-left: 94px;
  margin-top: 20px;
  margin-right: 18px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

.thirddiv {
  display: flex;
  position: relative;
  width: 1250px;
  height: 78px;
  left: 53px;
  margin-top: 10px;
  background: #f9f9fc;
  border-radius: 10px;
}

#jezyk {
  display: flex;
  align-items: center;
}

.pricerange {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  margin-left: 18px;
}

.options > label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  border: 1px solid;
  border-radius: 10px;
  height: 30px;
  margin-right: 8px;
}

.plus2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  height: 40px;
  width: 90px;
  color: #000;
  margin-left: 18px;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
}

.pricerange > input {
  width: 110px;
  height: 40px;
  margin-right: 18px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
}

.in {
  margin-left: 118px;
}

.fourthdiv {
  display: flex;
  position: relative;
  width: 1250px;
  height: 48px;
  left: 53px;
  margin-top: 12px;
  background: #f9f9fc;
  border-radius: 10px;
}

#filtr {
  justify-content: center;
  display: flex;
  align-items: center;
}

.sort {
  border: 1.5px solid;
  border-radius: 8px;
  height: 25px;
  margin-right: 10px;
}

.rightsort {
  position: relative;
  left: 940px;
}

.arrow {
  margin-right: 25px;
  margin-left: 10px;
}

.fifthdiv {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  justify-content: space-between;
  width: 1257px;
  height: 94px;
  left: 125px;
  top: 315px;
  background: #ffffff;
  border: 1px solid #222426;
  box-shadow: 0px 2px 8px rgb(22 32 75 / 19%);
  border-radius: 10px;
}

.fifthdiv > img {
  position: relative;
  width: 75px;
  height: 92px;
  left: 20px;
}

.leftside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  line-height: 35px;
}

.leftside > img {
  margin-right: 35px;
}

.rightside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  line-height: 35px;
}

#remote {
  align-items: center;
  display: flex;
  gap: 10px;
}

.new {
  position: relative;
  top: 7px;
}

.applybutton {
  margin-left: 35px;
  border: 3px solid;
  background-color: white;
  color: black;
  width: 150px;
  font-weight: 800;
  height: 40px;
  border-radius: 10px;
}

.languages {
  display: flex;
  justify-content: space-evenly;
}

.heart {
  margin-left: 20px;
}

.fontweight {
  font-weight: 700;
}

.fontweight2 {
  font-size: 12px;
}

.sixthdiv {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  justify-content: space-between;
  width: 1257px;
  height: 94px;
  left: 125px;
  top: 420px;
  background: #ffffff;
  border: 1px solid #222426;
  box-shadow: 0px 2px 8px rgb(22 32 75 / 19%);
  border-radius: 10px;
}

.seventhdiv {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  justify-content: space-between;
  width: 1257px;
  height: 94px;
  left: 125px;
  top: 525px;
  background: #ffffff;
  border: 1px solid #222426;
  box-shadow: 0px 2px 8px rgb(22 32 75 / 19%);
  border-radius: 10px;
}

.eighthdiv {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  justify-content: space-between;
  width: 1257px;
  height: 94px;
  left: 125px;
  top: 630px;
  background: #ffffff;
  border: 1px solid #222426;
  box-shadow: 0px 2px 8px rgb(22 32 75 / 19%);
  border-radius: 10px;
}

.frame1 {
  position: absolute;
  width: 42px;
  height: 40px;
  left: 14px;
  top: 18px;
  background: #31e8ff;
  border: 1px solid white;
  border-radius: 10px;
  z-index: -1;
}

.frame2 {
  position: absolute;
  width: 42px;
  height: 40px;
  left: 164px;
  top: 18px;
  background: #00ff93;
  border: 1px solid white;
  border-radius: 10px;
  z-index: -1;
}

.frame3 {
  position: absolute;
  width: 42px;
  height: 40px;
  left: 313px;
  top: 18px;
  background: #8415ff;
  border: 1px solid white;
  border-radius: 10px;
  z-index: -1;
}

.frame4 {
  position: absolute;
  width: 42px;
  height: 40px;
  left: 463px;
  top: 18px;
  background: #fd4dc7;
  border: 1px solid white;
  border-radius: 10px;
  z-index: -1;
}

.frame5 {
  position: absolute;
  width: 42px;
  height: 40px;
  left: 613px;
  top: 18px;
  background: #ff8227;
  border: 1px solid white;
  border-radius: 10px;
  z-index: -1;
}

.frame6 {
  position: absolute;
  width: 42px;
  height: 40px;
  left: 763px;
  top: 18px;
  background: #fdff00;
  border: 1px solid white;
  border-radius: 10px;
  z-index: -1;
}

.frame7 {
  position: relative;
  width: 42px;
  height: 88px;
  left: 45px;
  top: 7px;
  background: #8415ff;
  border: 1px solid #222426;
  border-radius: 10px;
}

.frame8 {
  position: relative;
  width: 42px;
  height: 88px;
  left: 45px;
  top: 23px;
  background: #ff8227;
  border: 1px solid #222426;
  border-radius: 10px;
}

.frame9 {
  position: relative;
  width: 42px;
  height: 88px;
  left: 45px;
  top: 39px;
  background: #fdff00;
  border: 1px solid #222426;
  border-radius: 10px;
}

.frame10 {
  position: relative;
  width: 42px;
  height: 88px;
  left: 45px;
  top: 54px;
  background: #00ff93;
  border: 1px solid #222426;
  border-radius: 10px;
}
