.container {
  width: 1366px;
  height: 768px;
  font-family: "Lexend Deca", sans-serif;
  margin: 0 auto;
}

.font {
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

.one {
  width: 1260px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

#header-left {
  display: flex;
  border: 1px solid;
  height: 35px;
  width: 380px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  border-color: lightgray;
}

.searching {
  border: none;
  margin-left: 10px;
  width: 330px;
  border-radius: 10px;
  height: 30px;
  font-family: "Lexend Deca", sans-serif;
}

#header-left > button {
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid;
  height: 30px;
  width: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

#header-mid {
  display: flex;
  gap: 30px;
}

.headlines {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}

#header-right {
  display: flex;
  gap: 20px;
  font-weight: 700;
}

.leftbutton {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  width: 130px;
  height: 40px;
  background: #490df4;
  border: 2px solid #222426;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-family: "Lexend Deca", sans-serif;
}

.signin {
  border: 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-between;
}

.signin > span {
  margin-left: 25px;
}

.rightbutton {
  background-color: #fff;
  border: 1px solid;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 5px;
  height: 30px;
}

hr {
  margin-top: auto;
}

.two {
  width: 1260px;
  height: 78px;
  background: #222426;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  align-items: center;
  display: flex;
}

.specializations {
  display: flex;
  align-items: center;
  z-index: 1;
}

.specializations > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 24px 7px 20px;
  gap: 8px;
  width: 120px;
  height: 38px;
  background: #222426;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-left: 20px;
}

.plus {
  border: 1px solid;
  color: #fff;
  height: 38px;
  border-radius: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.plus > span {
  margin-left: 20px;
}

.arrowbutton {
  color: #fff;
  border: 1px solid;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  background-color: #222426;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seniority {
  border: 1px solid;
  color: #fff;
  border-radius: 10px;
  height: 38px;
  display: flex;
  align-items: center;
  width: 150px;
  margin-left: 130px;
  margin-right: 20px;
  gap: 25px;
}

.seniority > span {
  margin-left: 20px;
}

.arrowbutton2 {
  color: #000;
  border: 1px solid;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colors {
  display: flex;
  height: 1px;
}

.color1 {
  position: relative;
  width: 22px;
  height: 37px;
  left: 70px;
  top: -58px;
  background: #31e8ff;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.color2 {
  position: relative;
  width: 22px;
  height: 37px;
  left: 186px;
  top: -58px;
  background: #00ff93;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.color3 {
  position: relative;
  width: 22px;
  height: 37px;
  left: 302px;
  top: -58px;
  background: #8415ff;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.color4 {
  position: relative;
  width: 22px;
  height: 37px;
  left: 419px;
  top: -58px;
  background: #fd4dc7;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.color5 {
  position: relative;
  width: 22px;
  height: 37px;
  left: 535px;
  top: -58px;
  background: #ff8227;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.color6 {
  position: relative;
  width: 22px;
  height: 37px;
  left: 652px;
  top: -58px;
  background: #fdff00;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.three {
  width: 1260px;
  height: 78px;
  background: #fff;
  margin: 0 auto;
  margin-top: 5px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.lefttopfilters {
  margin-left: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.filterbutton {
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  height: 38px;
  width: 38px;
  justify-content: center;
  background: #fff;
}

.divfilter {
  display: flex;
  align-items: center;
  gap: 5px;
}

.plus2 {
  border: 1px solid;
  color: #000;
  height: 38px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.plus2 > span {
  margin-left: 20px;
}

.righttopfilters {
  margin-right: 20px;
  gap: 15px;
  display: flex;
}

.righttopfilters > input {
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  width: 130px;
  height: 38px;
}

.four {
  width: 1260px;
  height: 55px;
  background: #fff;
  margin: 0 auto;
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.rightbottomfilters {
  display: flex;
  align-items: center;
  gap: 20px;
}

.leftbottomfilters {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 700;
}

.rightbottomfilters > span {
  display: flex;
  gap: 5px;
  font-weight: 700;
}

.rightbottomfilters > div {
  display: flex;
  gap: 5px;
}

.botbutton {
  border: 1px solid;
  border-radius: 8px;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.five {
  margin: 0 auto;
  width: 1257px;
  height: 94px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid;
  left: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  z-index: 2;
}

.left {
  display: flex;
  line-height: 35px;
}

.left > img {
  margin-right: 25px;
  margin-left: 25px;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 13px;
}

.mid {
  font-weight: 700;
  color: #490df4;
}

.ruby {
  font-weight: 700;
}

.remote {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 700;
}

.right {
  display: flex;
  gap: 20px;
  line-height: 35px;
  align-items: center;
}

.info2 {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 13px;
  margin-left: 35px;
}

.applybutton {
  margin-right: 25px;
  border: 3px solid;
  border-radius: 10px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  background-color: #fff;
  font-family: "Lexend Deca";
  font-weight: 700;
}

.six {
  margin: 0 auto;
  width: 1257px;
  height: 94px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid;
  left: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  z-index: 2;
}

.seven {
  margin: 0 auto;
  width: 1257px;
  height: 94px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid;
  left: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  z-index: 2;
}

.eight {
  margin: 0 auto;
  width: 1257px;
  height: 94px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid;
  left: 3px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.frame1 {
  position: relative;
  width: 42px;
  height: 88px;
  left: 52px;
  top: -407px;
  background: #8415ff;
  border: 1px solid #222426;
  border-radius: 10px;
}

.frame2 {
  position: relative;
  width: 42px;
  height: 88px;
  left: 52px;
  top: -391px;
  background: #ff8227;
  border: 1px solid #222426;
  border-radius: 10px;
}
.frame3 {
  position: relative;
  width: 42px;
  height: 88px;
  left: 52px;
  top: -375px;
  background: #fdff00;
  border: 1px solid #222426;
  border-radius: 10px;
}
.frame4 {
  position: relative;
  width: 42px;
  height: 88px;
  left: 52px;
  top: -359px;
  background: #00ff93;
  border: 1px solid #222426;
  border-radius: 10px;
}
